@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Google Sans", sans-serif;
  --color-primary: #006c75;
  --color-secondary: #ff6b6b;
}

:root {
  font-family: "Google Sans", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}
